{% extends "landing.html" %}
{% block title %}
Projects List
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="body-right">
                <div>
                    <p><a href="#">Users</a></p>
                    <p><a href="{% url 'projects:projects' %}">Projects</a></p>
                    <p><a href="#">Tasks</a></p></div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                {% for project in list_project %}
                <div class="col-4">
                    <a href="{% url 'projects:project_detail' project.pk %}"
                       style="text-decoration: none; color: white; font-weight: bold">
                        <p>{{ project.name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}